<div class="uk-grid uk-child-width-1-2@m" uk-grid>
    <div>
        {#if films && films.size > 0}
        <form class="sortable" hx-post="/films/reorder" hx-trigger="end" hx-target="#film-list">
            <ul class="uk-list uk-list-striped">
                {#include FilmResource/filmListElements films=films nextPage=2 hasMorePages=hasMorePages /}
            </ul>
        </form>
        {#else}
        <p class="uk-text-muted">You do not have any films in your list</p>
        {/if}
    </div>
    <div>
        {#include FilmResource/search /}
    </div>
</div>
